
*{
box-sizing: border-box;


}

body{
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #DCDCDC;


}

a{
    text-decoration: none;
    color: black;
}

header h1{
    padding-top: 20px;
    font-family: 'Syne Mono', monospace;

}

h1, ul li{
    text-align: center;
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
    margin-bottom: 20px;
}

main img{
    width: 200px;
    display: block;
    margin: 20px auto;
}

main p{
    text-align: justify;
    font-size: 0.9rem;
    width: 90%;
    height: 100px;
    margin: 5px auto;
    padding-bottom: 140px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.container {
    margin-top: 20px;
}

section h3{
text-align: center;
margin: 20px auto;
}

.img_projects {
    width: 250px;
    display: block;
    margin: 30px auto 10px auto;
}

.project_title {
    text-align: center;
    margin: 1px auto;
}

.project_description{
text-align: justify;
padding: 10px 20px;
margin: 5px auto 30px auto;
word-spacing: -2px;
}

.clear{
    clear: both;
}

section,
.number, .mail{
    text-align: center;
}

.number{
    margin-top: 30px;
}

#html-img {
    width: 212px;
    margin-top: 50px;
    padding-bottom: 30px;
}


footer {
    margin-top: 50px;
    border-top: 1px solid #F8F8F8;
    padding-bottom: 10px;
}

footer p{
    display:inline-block;
    padding: 0 25px;
    font-size: 0.9rem;
}

.my-name-footer{
    font-family: 'Syne Mono', monospace;
}

.right {
    float: right;
}

.footer_720{
    display: none;
}

.light-beige{
    background-color: #F8F8FF
    ;
}

#contact {
    padding-top: 20px;
}

.callme {
    padding: 0 25px;
    text-align: justify;
    word-spacing: -2px;

}





/* Media Queries  */


@media screen and (min-width: 768px){

body{
width: 80%;
max-width: 1000px;
margin: 0 auto;
}

ul li{
    display: inline-block;
    padding: 20px;
    margin-bottom: 0;
}

ul {
    text-align: center;
   
}

h1{
    margin-top: 40px;
}

main {
    display: flex;
    flex-direction: row-reverse;
}

main img{
    margin: 0;
    padding-bottom: 30px;
    padding-right: 30px;
    width: 250px;

}


main p{
    margin: 0;
    width: 55%;
   padding: 0 20px 20px 20px;
   text-align: unset;
    
}

section h3{
    text-align: center;
    margin-top: 10px;
    }

    .wrapper_projects{
        display: inline-block;
        width: 48%;
        
    }

    .wrapper_projects1{
        display: inline-block;
        width: 48%;
    }

    .wrapper_projects2{
        display: inline-block;
        width: 48%;
    }

    .wrapper_projects3{
        display: inline-block;
        width: 48%;
    }

    .wrapper_projects4{
        display: inline-block;
        width: 48%;
    }

    .wrapper_projects5{
        display: inline-block;
        width: 48%;
    }
    
    .clear{
        clear: both;
    }

    .number{
        margin-top: 50px;
    }

    .contact{
        margin-top: 60px;
        
    }

    .footer_320{
        display: none;
    }

    .footer_720{
    display:list-item;
    height: 100px;
    font-size: 0.9rem;
    font-family: 'Syne Mono', monospace;
    margin-top: 10px;

    
    }

    .footer_720 h1{
    float: left;
    padding-left: 30px;
    padding-top: 7.8px;
    font-size: 1rem;
    
    }

    .footer_720 ul{
        float: right;
        margin-top: 39px;
        padding-right: 20px;
        font-size: 0.7rem;
        font-family: 'Poppins', sans-serif;

        
     
    }

    .footer_720 li{
        padding: 10px;
        
    }   
    
    .img-skills {
        display: flex; 
    }

    .h4-html{
        margin-top: 23px;
        margin-bottom: 15px;
    }

    .h4-css{
        margin-bottom: 17px;
    }

    #html-img {
      padding-bottom: 0;
    }

    .img-css {
        margin-bottom: 0px;
    }

    
    
}




@media screen and (min-width: 1024px){

body{
width: 90%;
max-width: 1000px;
margin: 0 auto;
}

.light-beige{
    margin-top: 50px;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
text-align: unset;
padding: 0px 0px 0px 25px;
margin: 20px;
}

ul {
    margin-top: 30px;
    padding-right: 35px;
}

.clear{
    clear: both;
}

 main{
     display: flex;
     padding-top: 20px;
 }

main img{
    width: 300px;
    margin: 0px 20px 0px 0px ;
    margin-bottom: 30px;
}

main p{
    text-align: unset;
    font-size: 1.3rem;
    width: 80%;
    height: 100px;
    margin: 0px;
    padding-right: 30px;
    padding-left: 45px;
    
}

#portfolio{
    margin-top: 70px;
}

.wrapper_projects.wp1{
    display: inline-block;
    width: 33%;
}

.wrapper_projects1.wp1{
    display: inline-block;
    width: 33%;
}

.wrapper_projects2.wp1{
    display: inline-block;
    width: 33%;
}

.wrapper_projects3.wp2{
    display: inline-block;
    width: 33%;
}

.wrapper_projects4.wp2{
    display: inline-block;
    width: 33%;
}

.wrapper_projects5.wp2{
    display: inline-block;
    width: 33%;
}

.callme{
    width: 80%;
    margin: 0 auto;
    text-align:center
   
}

.footer_720{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
     }

    .footer_720 h1{
    padding-left: 33px;
    padding-top: 60px;
    font-family: 'Syne Mono', monospace;
    margin: 0;
    font-size: 1rem;
    
    }

    .footer_720 ul{
        padding: 56px 20px 0px 0px;
        margin: 0;
        font-size: 0.7rem;
        font-family: 'Poppins', sans-serif;
        
     
    }

    .footer_720 li{
        padding: 10px;
        
    }


    .img-skills {
        display: flex;
        justify-content: center; 
    }

}



@media screen and (min-width: 1440px){
    .wrapper_projects.wp1{
        display: inline-block;
        width: 30%;
    }
    
    .wrapper_projects1.wp1{
        display: inline-block;
        width: 30%;
    }
    
    .wrapper_projects2.wp1{
        display: inline-block;
        width: 30%;
    }
    
    .wrapper_projects3.wp2{
        display: inline-block;
        width: 30%;
    }
    
    .wrapper_projects4.wp2{
        display: inline-block;
        width: 30%;
    }
    
    .wrapper_projects5.wp2{
        display: inline-block;
        width: 30%;
    }
}